{% extends "base.html" %}

{% block content %}

  <div id="mf-header">
    <h1>Wygeneruj Fejka</h1>
  </div>

  <div id="mf-wrapper">
    <form action="" method="POST">
      {{ form.hidden_tag() }}

      <div class="mf-item">
        {{ form.name.label(class="mf-item-label") }}
        {{ form.name(class="mf-item-input") }}
      </div>
      <div class="mf-item-border"></div>

      <div class="mf-item">
        {{ form.surname.label(class="mf-item-label") }}
        {{ form.surname(class="mf-item-input") }}
      </div>
      <div class="mf-item-border"></div>

      <div class="mf-item">
        {{ form.birth.label(class="mf-item-label") }}
        {{ form.birth(class="mf-item-input") }}
      </div>
      <div class="mf-item-border"></div>

      <div class="mf-item">
        {{ form.email.label(class="mf-item-label") }}
        {{ form.email(class="mf-item-input") }}
      </div>
      <div class="mf-item-border"></div>

      <div class="mf-item">
        {{ form.submit(class="mf-item-submit") }}
      </div>
      <div class="mf-item-border"></div>

  </form>
  </div>


{% endblock %}