{% extends "base.html" %}

{% block content %}
  <div id="mf-show-header">
    <h1> Twój Fejk </h1>
  </div>

  <div id="mf-show-wrapper">
    <h2>Imię: {{ fake.imie }}</h2>
    <h2>Nazwisko: {{ fake.nazw }} </h2>
    <h2>Data Urodzenia: {{ fake.data_UR() }}</h2>
    <h2>PESEL: {{ fake.pesel }}</h2>
    <h2>Email: {{ fake.email }}</h2>





    <div class="mf-show-item">
      <button id="mf-show-refresh"><a href="{{ url_for('fake.show_fake') }}">GENERUJ</a></button>
    </div>

  </div>

   

    

    
  </div>



{% endblock %}