{% extends "base.html" %}

{% block content %}
  <div id="mf-show-title">
    <h1> !!! Twój Fejk !!! </h1>
  </div>

  <div id="mf-show-content">

    <div class="mf-show-item">
      Imię: <span>{{ fake.imie }}</span>
    </div>

    <div class="mf-show-item">
      Nazwisko: <span>{{ fake.nazw}}</span>
    </div>

    <div class="mf-show-item">
      Data_ur: <span>{{ fake.data_UR()}}</span>
    </div>

    <div class="mf-show-item">
      PESEL: <span>{{ fake.pesel}}</span>
    </div>

    <div class="mf-show-item">
      Email: <span>{{ fake.email}}</span>
    </div>

    <div class="mf-show-item">
      <button id="mf-show-refresh"><a href="{{ url_for('fake.show_fake') }}">GENERUJ</a></button>
    </div>

    

    
  </div>



{% endblock %}