<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>Hello World</title>
</head>
<body>
    
    <div id="container">
        <div id="header">
            <img class="logo-img" src="{{ url_for('static', filename='img/gray01.jpeg') }}" />
            <div class="logo-text">Hello World</div>
            <img class="logo-img" src="{{ url_for('static', filename='img/gray01.jpeg') }}" />
        </div>

        <div id="navbar">
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('fake.home') }}">Make Fake</a>
            <div>3</div>
            <div>4</div>
        </div>

        <div id="content">

            {% block content %}
            {% endblock %}
        </div>
    </div>
 

    

</body>
</html>