<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>Hello World</title>
</head>
<body>
    

    <div id="container">
        <div id="logo">
            <img src="{{ url_for('static', filename='img/haker2.jpg') }}" />
            <span>Hello World </span>
            <img src="{{ url_for('static', filename='img/haker2.jpg') }}" />
            <div style="clear: both;"></div>
        </div>
        {% block content %}
        {% endblock %}
    </div>

    

</body>
</html>