{% extends "base.html" %}

{% block content %}

	<div id="home-header">
		<h1> Witaj Przybyszu !!! </h1>
		<span> Wybierz coś z Menu dla siebie ... </span>
	</div>

	<div id="home-wrapper">
		<div class="home-item">
			<a href="{{ url_for('fake.home') }}"><img class="home-item-img" src="{{ url_for('static', filename='img/mf1.jpg') }}" /></a>
			<div class="home-item-text">
				<h3>Stwórz Fejkową postać</h3>
				<p>Wygeneruj fejkową postać, której dane możesz użyć do rejestracji na stronach.</p>
				<p>Możesz wygenerowane dane podać scamerom i innym oszustom.</p>

			</div>
		</div>

		<div class="home-item">
			<a href="#"><img class="home-item-img" src="{{ url_for('static', filename='img/under3.png') }}" /></a>
			<div class="home-item-text">Strona w trakcie tworzenia</div>
		</div>

		<div class="home-item">
			<a href="#"><img class="home-item-img" src="{{ url_for('static', filename='img/under3.png') }}" /></a>
			<div class="home-item-text">Strona w trakcie tworzenia</div>
		</div>

	</div>



{% endblock %}
